/*Side Bar */
.SideBar {
	height: 100%; 
	width: 0; /*Use JS to change this*/
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;

}

/* The Side bar links */
.SideBar a {
	padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s

}

/* Changes Color of link when over the link */
.SideBar a:hover, .offcanvas a:focus{
	color: #f1f1f1;

}

/* Put the close button in the top right corner.*/
.SideBar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

}


/*For smaller screens where height is less then 450px*/
@media screen and (max-height: 450px) {
    .SideBar {padding-top: 15px;}
    .SideBar a {font-size: 18px;}
}
